version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: lygitrace
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    ports:
      - "5433:5432"

  backend:
    build: ./backend
    restart: always
    environment:
      PORT: 3000
      DATABASE_URL: postgres://postgres:password@db:5432/lygitrace
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - ./database:/database

  web:
    build: ./web-dashboard
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./web-dashboard/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - backend

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

volumes:
  db_data:
